@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<h1>welcome </h1>
<h1 id="username">@ViewBag.Username</h1>
<textarea id="editor" rows="20" cols="80"></textarea>
<script src="~/js/Editor.js" asp-append-version="true"></script>

